@charset 'utf8';

$set-font-smoothing: true;
$set-scroll-behavior: auto;
$set-text-rendering: precision;

:root {
    --color-very-dark-blue-main: hsl(217, 54%, 11%);
    --color-very-dark-blue-card: hsl(216, 50%, 16%);
    --color-very-dark-blue-line: hsl(215, 32%, 27%);
    --color-hover-trans: rgba(0, 255, 247, 0.5);
    --color-hover: rgb(0, 255, 247);
    --color-white: hsl(0, 0%, 100%);
    --color: hsl(215, 42%, 65%);
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-feature-settings: 'kern';
    font-synthesis: none;
    height: 100%;
    min-height: 100%;
    @if $set-scroll-behavior {
        scroll-behavior: $set-scroll-behavior;
    }
    @if $set-font-smoothing {
        -webkit-font-smoothing: antialiased;
        font-smooth: always;
    }
    @if $set-text-rendering == 'auto' {
        text-rendering: auto;
    } @else if $set-text-rendering == 'speed' {
        text-rendering: optimizeSpeed;
    } @else {
        text-rendering: geometricPrecision;
    }
    color: var(--color);
    font-size: 18px;
}

*,
*:before,
*::before,
*:after,
*::after {
    -webkit-tap-highlight-color: inherit;
    box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
}

.container {
    align-items: center;
    // background: url('./images/mobile-design.jpg') no-repeat center;
    background-color: var(--color-very-dark-blue-main);
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding: 24px;
    .card {
        background-color: var(--color-very-dark-blue-card);
        border-radius: 15px;
        box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
        color: var(--color-dark-blue);
        padding: 24px;
        max-width: 350px;
        // opacity: 0.5;
        a,
        a:link,
        a:visited {
            color: var(--color-white);
            text-decoration: none;
            &:hover {
                color: var(--color-hover);
            }
        }
        .nft {
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            width: 302px;
            height: 302px;
            display: block;
            &-img {
                width: 302px;
                height: 302px;
                z-index: 0;
            }
            .overlay {
                background-color: var(--color-hover-trans);
                display: none;
                z-index: 100;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                justify-content: center;
                align-items: center;
            }
            &:hover {
                .overlay {
                    display: flex;
                }
            }
        }
        h1 {
            font-size: 22px;
            font-weight: 700;
            margin-block-start: 23px;
        }
        p {
            font-weight: 400;
            margin-block-start: 14px;
            margin-block-end: 14px;
            line-height: 1.4;
        }
        .info {
            display: flex;
            justify-content: space-between;
            margin-block-end: 19px;
            .price,
            .duration {
                display: flex;
                align-items: center;
                height: 2rem;
                letter-spacing: -0.5px;
                svg {
                    margin-inline-end: 6.5px;
                    margin-block-end: -3px;
                }
            }
            .price {
                color: var(--color-hover);
            }
        }
        .about {
            padding-block-start: 14px;
            margin-block-end: 9.852px;
            display: flex;
            border-top: 1px solid var(--color-very-dark-blue-line);
            align-items: center;
            .avatar {
                width: 33px;
                height: 33px;
                border-radius: 50%;
                border: 1px solid var(--color-white);
                margin-inline-end: 16px;
                background: var(--color-hover) url('./images/image-avatar.png') no-repeat center;
                background-size: cover;
            }
            .by {
                font-size: 18px;
                letter-spacing: -0.75px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 17px;
    }
    .container {
        .card {
            width: 327px;
            .nft {
                width: 278px;
                height: 278px;
                &-img {
                    width: 278px;
                    height: 278px;
                }
            }
            h1 {
                margin-block-start: 21px;
                margin-block-end: 15px;
                letter-spacing: -0.1px;
            }
            p {
                margin-block-end: 9px;
                letter-spacing: -0.5px;
                line-height: 1.5;
            }
            .info {
                margin-block-end: 7px;
                .price {
                    letter-spacing: -1.01px;
                }
            }
            .about {
                margin-block-end: 0;
                padding-block-start: 15px;
                .by {
                    letter-spacing: -1.2px;
                }
            }
        }
    }
}
